.flex-container{
    display: flex;
    border: 0px solid rgb(253, 253, 253);
    border-radius: 18px;
    margin: 20px 0;
    background-color: rgb(83, 83, 83);
    align-items: center;
    justify-content: center;
    object-fit: fill;
    
}

.flex-container>div{
    
    /* margin: 20px;  */
    /* padding: 20px; */
    /* font-size: 10px; */
    width: 450px;
    height: 320px;
    color:white;
    
}

.details{
    font-size: 30px;
    margin-bottom: 20px;
}
.details-header{
    font-size: 40px;
    line-height: 1.2em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 30px;
}

.details-header:hover{
    color: rgb(73, 0, 0);
}

.imageFit{
    object-fit:cover;
    width:100%;
    height: 100%;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.words{
    overflow-wrap: break-word;
    word-spacing: 6px;
}

/* .image{
    display: inline-block;
} */
.content{
    display: inline-block;
    /* margin: 20px;  */
     padding: 20px;
} 

/* .zoom:hover{
    transform: scale(1.5); 
     border: 3px solid #fdfdfd;

} */
/* .zoom{
    transition: transform .3s;
} */
.description{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  font-size: 20px;
}

