.menuColor{
    background-color: rgb(71, 71, 71);
    padding: 18px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.searchBar{
    padding: 12px 50px;
    border-radius: 15px;
    position: relative;
    background-color: rgb(160, 160, 160);
    border: 1px solid rgb(98, 98, 98);
}

.btn{
    background-color: rgb(81, 255, 226);
    color: rgb(248, 239, 239);
    font-size: 30px;
    font-style: italic;
    margin-left: 50px;
    padding: 18px;
    border-radius: 20px;
}
.btn:hover{
    background-color: rgb(43, 134, 119);
    color: rgb(230, 230, 230);
}
.logo{
    
    border-radius: 20px;
}
.dimension{
    width: 430px;
    margin: 0 auto;
}